body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
  
  }
  
  /* * {
    box-sizing: border-box;
  } */

  h1 {
    color: white;
}

.bg { 
    background-image: url("../images/fruitNinja.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#gameTitle {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: lightgray;
    width: 50%;
}

.letters {
    /* float: left; */
    font-size: 15px;
    margin: 0 10px 0 10px;
    color: rgb(202, 17, 17);
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background: lightgray;
    width: 50%;
}


#winWordDiv {
    color: white;
    font-size: 18px;
    /* margin: 0 10px 0 10px; */
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    background: darkslategray;
    /* display: hidden; */

}

#usedLetterDiv {
    color: rgb(199, 88, 88);
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    background: darkslategray;
    
}